header {

  .navbar {

    height: 50px;
    border-left: 0;
    border-right: 0;

    button {

      width: 32px;
      height: 32px;
      margin: 9px 0;
      padding: 0;
      background: transparent;
      border: 0;
    }
  }
}
